Variables

In [11]:
break=5

SyntaxError: invalid syntax (800182598.py, line 1)

In [2]:
birth_yr=2003
curr_yr=2024
print('present age is',curr_yr-birth_yr)

present age is 21

In [12]:
f='Amitesh'
m='S'
l='Karthikeyan'
print('full name is',f,m,l)

full name is Amitesh S Karthikeyan

Numbers

In [14]:
l=92
w=48.8
print('total area of field is',round(l*w,2))

total area of field is 4489.6

In [15]:
no_packs=9
price_of_one=1.49
amount_given=20
print('balance amount is',amount_given-(no_packs*price_of_one))

balance amount is 6.59

In [16]:
sq_side=5.5
cost_per_sqft=500
print('total expenditure on tiles',(5.5**2)*500)

total expenditure on tiles 15125.0

In [18]:
print(format(17,'b'))

10001

Strings

In [26]:
street='1st cross'
city='Banglore'
state='Karnataka'
print('address is {}, \n{}, \n{}'.format(street,city,state))

address is 1st cross,
Banglore,
Karnataka

In [34]:
s="Earth revolves around the sun"
print(s[6:14])
print(s[-3:])

revolves
sun

In [36]:
f=2
v=3
print(f'I ate {f} fruits and {v} vegetables today')

I ate 2 fruits and 3 vegetables today

In [38]:
s='maine 200 banana khaye'
print(s.replace('200','10').replace('banana','samosa'))

maine 10 samosa khaye

Lists

In [41]:
l=[2200,2350,2600,2130,2190]
print('Feb greater than Jan by',l[1]-l[0],'dollars')

Feb greater than Jan by 150 dollars

In [43]:
print('Expense in first quarter is',l[0]+l[1]+l[2],'dollars')

Expense in first quarter is 7150 dollars

In [44]:
print(2000 in l)

False

In [46]:
l.append(1980)
print(l)

[2200, 2350, 2600, 2130, 2190, 1980, 1980]

In [47]:
l[3]-=200
print(l)

[2200, 2350, 2600, 1930, 2190, 1980, 1980]

In [67]:
heros=['spider man','thor','hulk','iron man','captain america']
print(len(heros))

5

In [68]:
heros.append('black panther')
print(heros)

['spider man', 'thor', 'hulk', 'iron man', 'captain america', 'black panther']

In [69]:
k=heros.pop()
heros.insert(3,k)
print(heros)

['spider man', 'thor', 'hulk', 'black panther', 'iron man', 'captain america']

In [70]:
heros[1:3]=['doctor strange']
print(heros)

['spider man', 'doctor strange', 'black panther', 'iron man', 'captain america']

In [72]:
heros.sort()
print(heros)

['black panther', 'captain america', 'doctor strange', 'iron man', 'spider man']

IF

In [73]:
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]
s=input('enter city name')
if s in india:
    print(s,'is an Indian city')
elif s in pakistan:
    print(s,'is a Pakistani city')
elif s in bangladesh:
    print(s,'is a Bangladeshi city')
else:
    print('location unknown')

enter city namechennai
chennai is an Indian city

In [76]:
india = ["mumbai", "banglore", "chennai", "delhi"]
pakistan = ["lahore","karachi","islamabad"]
bangladesh = ["dhaka", "khulna", "rangpur"]
s1=input('enter city1 name')
s2=input('enter city2 name')
if s1 in india and s2 in india:
    print('Both are Indian cities')
elif s1 in pakistan and s2 in pakistan:
    print('Both are Pakistani cities')
elif s1 in bangladesh and s2 in bangladesh:
    print('Both are Bangladeshi cities')
else:
    print('They don\'t belong to same country')

enter city1 namemumbai
enter city2 namelahore
They don't belong to same country

In [79]:
s_lvl=float(input('enter sugar level'))
if s_lvl<80:
    print('low sugar level')
elif s_lvl>100:
    print('high sugar level')
else:
    print('normal sugar level')

enter sugar level112.2
high sugar level

FOR

In [83]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
print(result.count('heads'))

4

In [84]:
result = ["heads","tails","tails","heads","tails","heads","heads","tails","tails","tails"]
c=0
for ele in result:
    if ele=='heads':
        c+=1
print('count of heads is',c)

count of heads is 4

In [85]:
for ele in range(1,11,2):
    print(ele**2)

1
9
25
49
81

In [88]:
expense_list = [2340, 2500, 2100, 3100, 2980]
month_list = ["January", "February", "March", "April", "May"]
exp=int(input('enter amount spent'))
for ele in expense_list:
    if ele==exp:
        print(month_list[expense_list.index(ele)])
        break
else:
    print('expense not found')

enter amount spent2100
March

In [91]:
i=1
while i<=5:
    k=input('are you tired')
    if k=='yes':
        print('oops you didnt finish')
        break
    else:
        i+=1
else:
    print('Congrats on finishing the marathon')

are you tiredno
are you tiredno
are you tiredno
are you tiredno
are you tiredno
Congrats on finishing the marathon

In [93]:
n=int(input('enter number of rows'))
for i in range(n):
    for j in range(i+1):
        print('*',end='')
    print('')

enter number of rows6
*
**
***
****
*****
******

Functions

In [94]:
def area(base,height):
    area = (1/2)*base*height
    return area
print(area(10,10))

50.0

In [96]:
def area(base,height,shape):
    if shape=='triangle':
        area = (1/2)*base*height
    elif shape=='rectangle':
        area=base*height
    return area
print(area(10,10,'rectangle'))
print(area(10,10,'triangle'))

100
50.0

In [98]:
def pattern(n):
    for i in range(n):
        for j in range(i+1):
            print('*',end='')
        print('')
pattern(10)

*
**
***
****
*****
******
*******
********
*********
**********

Tuples and Dictionaries

In [8]:
def print_dict(d):
    for key in d:
        print(key,'==>',d[key])
def add_dict(d):
    k=input('enter country name')
    if k in d.keys():
        print('country data already exists')
    else:
        v=int(input('enter population'))
        d[k]=v
        print_dict(d)
def remove_dict(d):
    k=input('enter country name')
    if k in d.keys():
        del d[k]
        print_dict(d)
    else:
        print('country data doesnt exist')
def query_dict(d):
    k=input('enter country name')
    print('population of',k,'is',d[k])
d={'China':143,'India':136,'USA':32,'Pakistan':21}
a=input('enter action to be performed')
if a=='print':
    print_dict(d)
elif a=='add':
    add_dict(d)
elif a=='remove':
    remove_dict(d)
elif a=='query':
    query_dict(d)
else:
    print('invalid action')

enter action to be performedadd
enter country nameIndia
country data already exists

In [16]:
def print_dict(d):
    for key in d:
        avg=sum(d[key])/len(d[key])
        print(key,'==>',d[key],'==>','avg :',round(avg,2))
def add_dict(d):
    k=input('enter tier name')
    v=int(input('enter stock value'))
    if k in d.keys():
        d[k].append(v)
    else:
        d[k]=[v]
    print(d)
        
d={'info':[600,630,620],'ril':[1430,1490,1567],'mtl':[234,180,160]}
a=input('enter action to be performed')
if a=='print':
    print_dict(d)
elif a=='add':
    add_dict(d)
else:
    print('invalid action')

enter action to be performedadd
enter tier nameril
enter stock value1345
{'info': [600, 630, 620], 'ril': [1430, 1490, 1567, 1345], 'mtl': [234, 180, 160]}

In [18]:
import math
def circle_calc(r):
    area=(r**2)*math.pi
    circum=(2*r)*math.pi
    dia=2*r
    print('area of circle:',round(area,2),'\ncircumference of circle:',round(circum,2),'\ndiameter of circle:',dia)
r=int(input('enter radius of circle'))
circle_calc(r)

enter radius of circle7
area of circle: 153.94
circumference of circle: 43.98
diameter of circle: 14

File Handling

In [32]:
d={}
with open("poem.txt",'r') as f:
    for line in f:
        k=line.split(' ')
        for word in k:
            if word in d:
                d[word]+=1
            else:
                d[word]=1
maxi=0
for k in d:
    if d[k]>maxi:
        maxi=d[k]
    else:
        continue
for ele in d:
    if d[ele]==maxi:
        print(ele,'is most occuring')

I is most occuring
the is most occuring

In [36]:
with open("stocks.csv", 'r') as read, open("output.csv", 'w') as out:
    out.write("Company Name,PE Ratio, PB Ratio\n")
    next(read) 
    for line in read:
        tokens = line.split(",")
        stock = tokens[0]
        price = float(tokens[1])
        eps = float(tokens[2])
        book = float(tokens[3])
        pe = round(price / eps, 2)
        pb = round(price / book, 2)
        out.write(f"{stock},{pe},{pb}\n")

In [37]:
with open('output.csv','r') as f:
    for line in f:
        print(line)

Company Name,PE Ratio, PB Ratio

Reliance,22.23,2.25

Tata Steel,4.39,0.68

Infosys,18.57,4.42

Axis Bank,38.89,2.81

Bajaj Finance,58.61,11.86